.table {
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
  }
  
  .btn {
    border-radius: 20px;
  }
  
  .btn-sm {
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-warning:hover {
    background-color: #e0a800;
    border-color: #e0a800;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #bd2130;
    border-color: #bd2130;
  }
  

  .pagination-container {
    margin-top: 20px;
  }
  
  .pagination {
    border-radius: 4px;
  }
  
  .pagination .page-item .page-link {
    color: #007bff;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
  }